<nav class="menu">
    <a href="/">
        <div class="logo">L'Envol des frontières</div>
        <div class="line"></div>
        <div class="titre-expo">Exposition <span>Un regard sur les migrations</span></div>
    </a>
        <div class="lien-print"><a href="/pdf">Télécharger en version PDF</a></div>
</nav>