<!doctype html>
<html>
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width,initial-scale=1">
 <title>{{ .Page.Title }}</title>
 {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body>
    {{ partial "nav.html" }}
    <section id="credits">
        {{ .Content }}
    </section>
   
    
</body>
</html>