<!doctype html>
<html>
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width,initial-scale=1">
 <title>{{ .Site.Title }}</title>
 {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body>
    {{ partial "nav.html" }}
    {{ .Content }}
    <div class="sommaire">
        <div class="titre-sommaire">Sommaire</div>
        {{ range (where .Site.Pages "Section" "panneaux") }}
            {{ range .Pages }}
            <div>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </div>
            {{ end }}
        {{ end }}
        {{ range (where .Site.Pages "Section" "credits") }}
        {{ range .Pages }}
        <div class="sources">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </div>
        {{ end }}
    {{ end }}
    </div>
    
    
</body>
</html>