<!doctype html>
<html>
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width,initial-scale=1">
 <title>{{ .Page.Title }}</title>
 {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body onload="taille_cartes()">
    {{ partial "nav.html" }}
    {{ .Content }}
    <footer>
        <nav>
            {{- with .Page.NextInSection }}<a href="{{ .Permalink }}">← {{ .Title }} </a>{{ end -}}
            {{- with .Page.PrevInSection }}<a href="{{ .Permalink }}"> {{ .Title }} →</a>{{ end -}}
        </nav>
    <footer>
    <script src="/script.js"></script>
</body>
</html>