<!doctype html>
<html>
<head>
 <meta charset="utf-8">
 <title>{{ .Page.Title }}</title>
 {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body>
<embed src="/Un_regard_sur_les_migrations.pdf" style="width:100%;height:100vh;" type="application/pdf">
</body>
</html>