<!doctype html>
<html>
<head>
 <meta charset="utf-8">
 <title>{{ .Page.Title }}</title>
 {{ $style := resources.Get "sass/print.scss" | resources.ToCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
<script>
    class handlers extends Paged.Handler {
      constructor(chunker, polisher, caller) {
        super(chunker, polisher, caller);
      }
  
      beforeParsed(content) {
        createToc({
          content: content,
          tocElement: "#sommaire",
          titleElements: [".mw-content-ltr h2", "h2"],
        });
      }
    }
    Paged.registerHandlers(handlers);
  </script>
</head>

<body>
    {{ .Content }}
    {{ partial "nav.html" }}
    <div id="sommaire"></div>

    {{ with .Site.GetPage "_index.md" }}{{ .Page.Content }}{{ end }}
        
        {{ range (where .Site.Pages "Section" "panneaux") }}
            {{ range .Pages }}
            <div class="panneau" id="txt-{{ .Page.Params.weight }}">
                {{ .Page.Content }}
            </div>
            {{ end }}
        {{ end }}
        {{ range (where .Site.Pages "Section" "credits") }}
        {{ range .Pages }}
        <div class="panneau" id="fin">
            {{ .Page.Content }}
        </div>
        {{ end }}
    {{ end }}
    
    <script src="/script-toc.js"></script>
</body>
</html>