:root {
    --font-regular : 'NationalPark';
    --font-outline: 'NationalParkOutline';
    --header-height: 5vh;
}



body {
    font-family: var(--font-regular);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    font-size: 1em;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 33vw;
}

.menu > a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    color: black;
    padding-right: 0.5vw;
    text-decoration: none;
}

.logo::after {
    content: "• ";
    -webkit-text-stroke: 5px;
    padding-left: 5px;
}

.line {
    flex-grow: 1;
    border-top-width: 2px;
    border-top-color: black;
    transition: border-top-style 0.3s linear;
    border-top-style: dashed;
    padding-top: 12px;
    margin-top: 12px;
}

.titre-expo {
    margin-bottom: 1vh;
}

.titre-expo::before {
    content: "• ";
    -webkit-text-stroke: 5px;
    padding-right: 0.5vw;
}

.titre-expo span {
    font-weight: bold;
}

.lien-print {
    margin-top: 1vh;
}

.lien-print a {
    color: white;
    text-decoration: none;
    border: 2px solid black;
    background-color: black;
    padding: 0.5vw;
    border-radius: 5vw;
}

.lien-print a:hover {
    color: black;
    background-color: white;
}

h1 {
    font-family: var(--font-outline);
    font-size: 3vw;
    margin-left: 1.5vw;
    margin-right: 75vw;
}

h2 {
    margin-left: 1.5vw;
    font-size: 2vw;
    margin-right: 66vw;
}

h3 {
    margin-left: 1.5vw;
    font-size: 1.5vw;
    margin-right: 66vw;
    margin-top: 7vh;
    font-weight: normal;
    text-decoration: underline;
}

.sommaire {
    position: fixed;
    right: 0vw;
    top: 0vh;
    width: 60vw;
    padding: 2vw;
    padding-top: 2vh;
    height: 98vh;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
}

.sommaire > div:nth-of-type(2) {
    padding-bottom: 2.5vh;
    margin-bottom: 2.5vh !important;
    border-bottom: 2px dashed black;
}

.sommaire a {
    font-size: 1.5vw;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 0.25vw;
}

.sommaire div:not(div.titre-sommaire) {
    margin: 0.1vw;
}

.sommaire a:hover {
    color: white;
    background-color: black;
}

.sommaire > div.titre-sommaire {
    margin-bottom: 3vh;
    font-size: 1vw;
}

p {
    margin-left: 1.5vw;
    margin-right: 66vw;
    font-size: 1.15vw;
    line-height: 125%;
    margin-top: 0;
}

details {
    margin-bottom: 0.25vw;
}

details p {
    margin-right: 0;
    margin-top: 0.5vw;
    margin-bottom: 2vw;
}

details:last-of-type {
    padding-bottom: 3vh;
}

summary {
    font-size: 1.15vw;
    font-weight: bold;
}

#credits, #definitions, #tableau {
    height: 96vh;
    width: 60vw;
    padding: 2vw;
    position: fixed;
    top: 0;
    right: 0;
    background-color: lightgrey;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

#credits h2 {
    margin: 0;
}

#credits h2:nth-of-type(2) {
    margin-top: 3vh;
    margin-bottom: 1vh;
}

#credits h3, #credits p {
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
}

#credits p:last-of-type {
    padding-bottom: 3vh;
}

#credits a {
    color: black;
    text-decoration: none;
    background-color: mediumseagreen;
}

#credits a:hover {
    background-color: white;
}

ul,  li {
    font-size: 1.15vw;
    line-height: 125%;
}

li {
    margin-bottom: 1vh;
}

#cartes {
    height: 96vh;
    width: 60vw;
    padding: 2vw;
    position: fixed;
    top: 0;
    right: 0;
    background-color: lightgrey;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    transition: width 1s;
}

#cartes img {
    margin-bottom: 2vw;
    align-self: center;
}

.carte_haute {
    width: 75%;
}

.carte_large {
    width: 100%;
}

.bouton_cartes {
    padding: 0.5vw;
    border: 1px solid black;
    margin-bottom: 2vh;
    align-self: flex-end;
}

::-webkit-scrollbar {
    width: 1px;
}

.invisible-scrollbar {
    scrollbar-width: none;
  }
  .invisible-scrollbar::-webkit-scrollbar {
    display: none;
  }

sup {
    line-height: 50%;
    font-size: 0.75vw;
}

td {
    width: 25%;
    vertical-align: top;
    border-bottom: 1px solid black;
    font-size: 1.1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
}



tr > td:nth-of-type(4), tr > th:nth-of-type(4) {
    border-right: 0px solid white;
}

th {
    vertical-align: top;
    border-bottom: 1px solid black;
    text-align: left;
    font-size: 1.1vw;
    font-weight: normal;
    padding-bottom: 1vw;
}

.sources {
    padding-top: 2.5vh;
    margin-top: 2.5vh !important;
    border-top: 2px dashed black;
}

footer {
    width: 35vw;
    font-weight: bold;
    padding-bottom: 2vh;
    margin-top: auto;
}

footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5vw;
}

footer nav a {
    text-decoration: none;
    color: black;
}

footer nav a:hover {
    background-color: black;
    color: white;
}

@media screen and (max-width: 900px) {
    .menu {
        width: auto;
    }

    .menu a {
        width: 100%;
    }

    .sommaire, #credits, #definitions, #tableau {
        position: relative !important;
        width: auto !important;
        height: auto !important;
        padding-bottom: 3vh !important;
    }

    #cartes {
        position: relative !important;
        width: auto !important;
        height: auto !important;
        padding-bottom: 1vh !important;
    }

    #cartes img {
        margin-bottom: 0;
    }

    #cartes img + img {
        margin-top: 1vh;
    }

    .carte_haute {
        width: 100%;
    }

    #tableau {
        padding: 5vw;
    }

    p {
        margin-right: 5vw;
        margin-left: 5vw;
        font-size: 5vw;
    }

    sup {
        font-size: 3vw;
    }

    #credits p {
        margin-right: 3vw;
        margin-left: 3vw;
        font-size: 5vw;
    }

    h1 {
        margin-right: 5vw;
        margin-left: 5vw;
        font-size: 10vw;
    }

    #credits h2 {
        margin-right: 5vw;
        margin-left: 3vw !important;
        margin-bottom: 2vh;
        font-size: 8.5vw;
    }

    h2 {
        margin-right: 5vw;
        margin-left: 5vw !important;
        font-size: 8.5vw;
    }

    h3 {
        margin-right: 5vw;
        margin-left: 5vw;
        font-size: 7vw;
    }

    #credits h3 {
        margin-right: 3vw;
        margin-left: 3vw;
        font-size: 7vw;
    }

    .sommaire > div.titre-sommaire {
        margin-right: 3vw;
        margin-left: 3vw;
        font-size: 7vw;
    }

    .sommaire a {
        margin-right: 3vw;
        margin-left: 3vw;
        font-size: 5vw;
    }

    .sommaire > div:nth-of-type(2), .sources {
        margin-right: 3vw !important;
        margin-left: 3vw !important;
    }

    .sommaire > div:nth-of-type(2) > a, .sources > a {
        margin-right: 3vw;
        margin-left: 0vw;
    }

    ul {
        margin-right: 3vw;
        margin-left: -2vw;
    }

    li {
        font-size: 5vw;
    }

    details {
        margin-top: 3vh;
    }

    summary {
        font-size: 5vw;
        margin-right: 3vw;
        margin-left: 3vw;
    }

    details p {
        margin-right: 2vw;
    }

    footer {
        width: auto;
        margin-top: 3vh;
        padding-bottom: 0;
    }

    footer nav a {
        width: 50%;
        text-align: center;
        padding: 3vw;
    }

    .bouton_cartes {
        display: none;
    }

    table {
        overflow: scroll;
        width: 100%;
    }

    td, th {
        font-size: 4vw;
        padding-right: 3vw;
        padding-bottom: 3vw;
        padding-top: 3vw;
    }

    tr {
        display: flex;
        flex-direction: column;
    }

    td {
        width: auto;
        padding-right: 3vw;
        padding-bottom: 3vw;
        padding-top: 3vw;
    }
}

@font-face {
    font-family: "NationalPark";
    src: url("/fonts/NationalPark-Regular.woff"),
         url("/fonts/NationalPark-Regular.woff2");
    font-weight: normal;
}

@font-face {
    font-family: "NationalPark";
    src: url("/fonts/NationalPark-Bold.woff"),
         url("/fonts/NationalPark-Bold.woff2");
    font-weight: bold;
}

@font-face {
    font-family: "NationalParkOutline";
    src: url("/fonts/NationalPark-outline.woff"),
         url("/fonts/NationalPark_outline.woff2");
    font-weight: normal;
}