/* CSS for Paged.js interface – v0.4 */

/* Change the look */
:root {
    --color-background: whitesmoke;
    --color-pageSheet: #cfcfcf;
    --color-pageBox: violet;
    --color-paper: white;
    --color-marginBox: transparent;
    --pagedjs-crop-color: black;
    --pagedjs-crop-shadow: white;
    --pagedjs-crop-stroke: 1px;
    --font-regular : 'NationalPark';
    --font-outline: 'NationalParkOutline';
    --header-height: 5vh;
}

/* To define how the book look on the screen: */
@media screen, pagedjs-ignore {
    body {
        background-color: var(--color-background);
    }

    .pagedjs_pages {
        display: flex;
        width: calc(var(--pagedjs-width) * 2);
        flex: 0;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .pagedjs_page {
        background-color: var(--color-paper);
        box-shadow: 0 0 0 1px var(--color-pageSheet);
        margin: 0;
        flex-shrink: 0;
        flex-grow: 0;
        margin-top: 10mm;
    }

    .pagedjs_first_page {
        margin-left: var(--pagedjs-width);
    }

    .pagedjs_page:last-of-type {
        margin-bottom: 10mm;
    }

    .pagedjs_pagebox{
        box-shadow: 0 0 0 1px var(--color-pageBox);
    }

    .pagedjs_left_page{
        z-index: 20;
        width: calc(var(--pagedjs-bleed-left) + var(--pagedjs-pagebox-width))!important;
    }

    .pagedjs_left_page .pagedjs_bleed-right .pagedjs_marks-crop {
        border-color: transparent;
    }
    
    .pagedjs_left_page .pagedjs_bleed-right .pagedjs_marks-middle{
        width: 0;
    } 

    .pagedjs_right_page{
        z-index: 10;
        position: relative;
        left: calc(var(--pagedjs-bleed-left)*-1);
    }

    /* show the margin-box */

    .pagedjs_margin-top-left-corner-holder,
    .pagedjs_margin-top,
    .pagedjs_margin-top-left,
    .pagedjs_margin-top-center,
    .pagedjs_margin-top-right,
    .pagedjs_margin-top-right-corner-holder,
    .pagedjs_margin-bottom-left-corner-holder,
    .pagedjs_margin-bottom,
    .pagedjs_margin-bottom-left,
    .pagedjs_margin-bottom-center,
    .pagedjs_margin-bottom-right,
    .pagedjs_margin-bottom-right-corner-holder,
    .pagedjs_margin-right,
    .pagedjs_margin-right-top,
    .pagedjs_margin-right-middle,
    .pagedjs_margin-right-bottom,
    .pagedjs_margin-left,
    .pagedjs_margin-left-top,
    .pagedjs_margin-left-middle,
    .pagedjs_margin-left-bottom {
        box-shadow: 0 0 0 1px inset var(--color-marginBox);
    }

    /* uncomment this part for recto/verso book : ------------------------------------ */

    /*
    .pagedjs_pages {
        flex-direction: column;
        width: 100%;
    }

    .pagedjs_first_page {
        margin-left: 0;
    }

    .pagedjs_page {
        margin: 0 auto;
        margin-top: 10mm;
    } 

    .pagedjs_left_page{
        width: calc(var(--pagedjs-bleed-left) + var(--pagedjs-pagebox-width) + var(--pagedjs-bleed-left))!important;
    }

    .pagedjs_left_page .pagedjs_bleed-right .pagedjs_marks-crop{
        border-color: var(--pagedjs-crop-color);
    }

    .pagedjs_left_page .pagedjs_bleed-right .pagedjs_marks-middle{
        width: var(--pagedjs-cross-size)!important;
    } 

    .pagedjs_right_page{
        left: 0; 
    } 
    */
    
    

    /*--------------------------------------------------------------------------------------*/



    /* uncomment this par to see the baseline : -------------------------------------------*/

    
    /* .pagedjs_pagebox {
        --pagedjs-baseline: 22px;
        --pagedjs-baseline-position: 5px;
        --pagedjs-baseline-color: cyan;
        background: linear-gradient(transparent 0%, transparent calc(var(--pagedjs-baseline) - 1px), var(--pagedjs-baseline-color) calc(var(--pagedjs-baseline) - 1px), var(--pagedjs-baseline-color) var(--pagedjs-baseline)), transparent;
        background-size: 100% var(--pagedjs-baseline);
        background-repeat: repeat-y;
        background-position-y: var(--pagedjs-baseline-position);
    }  */
   

    /*--------------------------------------------------------------------------------------*/
}





/* Marks (to delete when merge in paged.js) */

.pagedjs_marks-crop{
    z-index: 999999999999;
  
}

.pagedjs_bleed-top .pagedjs_marks-crop, 
.pagedjs_bleed-bottom .pagedjs_marks-crop{
    box-shadow: 1px 0px 0px 0px var(--pagedjs-crop-shadow);
}  

.pagedjs_bleed-top .pagedjs_marks-crop:last-child,
.pagedjs_bleed-bottom .pagedjs_marks-crop:last-child{
    box-shadow: -1px 0px 0px 0px var(--pagedjs-crop-shadow);
}  

.pagedjs_bleed-left .pagedjs_marks-crop,
.pagedjs_bleed-right .pagedjs_marks-crop{
    box-shadow: 0px 1px 0px 0px var(--pagedjs-crop-shadow);
}

.pagedjs_bleed-left .pagedjs_marks-crop:last-child,
.pagedjs_bleed-right .pagedjs_marks-crop:last-child{
    box-shadow: 0px -1px 0px 0px var(--pagedjs-crop-shadow);
}


@media print {
    @page {
        size: 210mm 297mm;
        margin: 20mm;
        margin-bottom: 10mm;
    }

    @page:right {
        margin-left: 18mm;
        margin-right: 10mm;
        @top-right {
            content: counter(page);
            text-align: left;
            font-weight: bold;
            text-align: right;
            
          }

        @top-center {
            content: "-------------------------------------------------";
            text-align: center;
            width: 100mm;
        }
        
        @top-left {
            content: string(title);
            text-align: left;
            width: 75mm;
        }
    }

    @page:left {
        margin-right: 18mm;
        margin-left: 10mm;
        @top-left {
            content: counter(page);
            text-align: left;
            font-weight: bold;
          }

          @top-center {
            content: "-------------------------------------------------";
            text-align: center;
            width: 100mm;
        }
        
        @top-right {
            content: "Un regard sur les migrations";
            text-align: right;
            width: 75mm;
        }
    }

    @page:blank {
        @top-left {
            content: none;
          }

          @top-center {
            content: none;
        }
        
        @top-right {
            content: none;
        }
    }

    @page intro {
        @top-left {
            content: none;
          }

          @top-center {
            content: none;
        }
        
        @top-right {
            content: none;
        }
    }

    body {
        font-family: var(--font-regular);
    }

    .menu, #sommaire {
        page: intro;
    }

    .panneau {
        page-break-before: always;
    }

    img {
        width: 143%;
        transform: rotate(-90deg);
        margin-left: -40mm;
        margin-top: 40mm;
    }

    #txt-6 img:first-of-type, #txt-8 img, #txt-11 img, #txt-13 img {
        transform: rotate(0);
        margin-top: 0;
        margin-left: 0;
        width: 100%;
    }

    .bouton_cartes, .lien-print {
        display: none;
    }

    #definitions {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    details {
        width: 83mm;
        margin-right: 8mm;
        break-inside: avoid;
        margin-top: 1mm;
    }

    summary {
        font-weight: bold;
    }

    details p {
        margin-top: 1mm;
        margin-left: 4.5mm;
        margin-right: 0;
        line-height: 130%;
    }

    details li {
        margin-right: 0;
    }

    h1 {
        font-size: 36pt;
        margin-top: 0;
        font-family: var(--font-outline);
        margin-right: 90mm;
    }

    h1 + h2 {
        display: none;
    }

    h2 {
        font-size: 24pt;
        margin-top: 0;
        string-set: title content(text);
    }

    h3 {
        font-size: 16pt;
        text-decoration: underline;
        font-weight: normal;
        page-break-before: always;
    }

    #fin h3 {
        page-break-before: avoid;
    }

    p, li {
        font-size: 12pt;
        line-height: 130%;
        margin-right: 40mm;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 18pt;
        flex-wrap: wrap;
        top: 0;
        left: 0;
        width: 100%;
    }

    .menu > a {
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .logo {
        text-transform: uppercase;
        color: black;
        padding-right: 0.5vw;
        text-decoration: none;
    }
    
    .logo::after {
        content: "• ";
        -webkit-text-stroke: 5px;
        padding-left: 5px;
    }
    
    .line {
        flex-grow: 1;
        border-top-width: 2px;
        border-top-color: black;
        transition: border-top-style 0.3s linear;
        border-top-style: dashed;
        padding-top: 12px;
        margin-top: 12px;
        width: 180mm;
    }

    #sommaire li a::after {
        content: target-counter(attr(href), page);
        float: right;
    }

    #sommaire ul {
        padding: 0;
        width: 180mm;
        margin-top: 110mm;
    }

    #sommaire li {
        list-style-type: none;
        margin-right: 0;
        font-size: 14pt;
    }

    #sommaire li a {
        color: black;
        text-decoration: none;
        font-weight: bold;
    }

    td {
        width: 90mm;
        padding-right: 5mm;
        padding-bottom: 2mm;
        padding-top: 2mm;
        border-top: 1px solid black;
        vertical-align: top;
        text-align: left;
        font-weight: normal;
    }

    th {
        width: 90mm;
        padding-right: 5mm;
        padding-bottom: 2mm;
        padding-top: 2mm;
        vertical-align: top;
        text-align: left;
        font-weight: normal;
    }

    tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    tr > td:last-of-type {
        border-top: 0px solid black;
    }

    #fin a {
        color: white;
        background-color: mediumseagreen;
        text-decoration: none;
    }
}

@font-face {
    font-family: "NationalPark";
    src: url("/fonts/NationalPark-Regular.woff"),
         url("/fonts/NationalPark-Regular.woff2");
    font-weight: normal;
}

@font-face {
    font-family: "NationalPark";
    src: url("/fonts/NationalPark-Bold.woff"),
         url("/fonts/NationalPark-Bold.woff2");
    font-weight: bold;
}

@font-face {
    font-family: "NationalParkOutline";
    src: url("/fonts/NationalPark-outline.woff"),
         url("/fonts/NationalPark_outline.woff2");
    font-weight: normal;
}